@font-face {
  font-family: "DM Sans";
  src: url(../src/assets/fonts/DMSans_18pt-Light.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../src/assets/fonts/Quicksand-Regular.ttf);
}

:root {
  font-family: "DM Sans";
  line-height: 1.5;
  background-color: #F6ECE0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  line-height: 1.5;
}

.nav-container {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  float: right;
  height: 50vh;
  width: 70px;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #F89A77 0%, #581BBA 100%);
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 475px;
  position: fixed;
}

.navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 30px 0px 0px 30px;
  background: #1B1B1B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #EBEBEB;
  font-size: 24px;
  position: fixed;
}


.navbar img {
  width: 50px;
  height: 50px;
}

.navbar img:hover {
  cursor: pointer;
  zoom: 0.9;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  margin-top: 5px;

}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-bottom: 50vh;
  padding: 5%;
  margin-top: 25vh;
  border-radius: 0px 30px 30px 0px;
  background: #1B1B1B;
  color: #EBEBEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.intro-container h1 {
  font-size: 64px;
  font-weight: 100;
  color: #F89A77;
  font-family: "Quicksand";
  margin: 0;
}

.intro-container h2 {
  font-weight: 100;
  font-size: 48px;
  margin: 0;
}

.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 50vh;
}


.text-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 5%;
  border-radius: 0px 30px 30px 0px;
  background: #1B1B1B;
  color: #EBEBEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-container h2 {
  font-size: 40px;
  font-weight: 100;
  color: #F89A77;
  text-decoration: underline;
  text-decoration-color: #EBEBEB;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.text-container p {
  font-size: 24px;
  font-weight: 100;
}

.text-container a {
  color: #581BBA;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 3px solid #581BBA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  max-height: 400px;

}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 100px;
  margin-top: 300px;
  margin-bottom: 300px;
  border-radius: 30px;
  background: #F89A77;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.skills-container h2 {
  font-size: 40px;
  font-weight: 100;
  color: #1B1B1B;
  text-decoration: underline;
  text-decoration-color: #EBEBEB;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 200px;
  color: #1B1B1B;
}

.text-container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 2%;
  border-radius: 0px 30px 30px 0px;
  background: #1B1B1B;
  color: #EBEBEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-container-projects h2 {
  font-size: 40px;
  font-weight: 100;
  color: #F89A77;
  text-decoration: underline;
  text-decoration-color: #EBEBEB;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15%;
  padding: 50px;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5px;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  background-color: #F89A77;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: #EBEBEB;
  padding: 30px;
  background: #1B1B1B;
}

.contact-container h2 {
  font-size: 64px;
  font-weight: 100;
  color: #F89A77;
}

.contact-container p {
  font-size: 24px;
  font-weight: 100;
  margin: 20px;
}

.contact-container a {
  font-size: 24px;
  font-weight: 100;
  margin: 20px;
  text-decoration: none;
  color: #EBEBEB;
}

.contact-container a:hover {
  color: #F89A77;
}


@media (max-width: 1025px) {

  .intro-container h1 {
    font-size: 50px;
  }

  .intro-container h2 {
    font-size: 40px;
  }

  .intro-container {
    width: 50vw;
  }

  .text-container {
    width: 70vw;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .picture-container {
    width: 100%;
    margin: 100px;
  }

  .text-container-projects {
    width: 30vw;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .project-image-container {
    margin: 50px;
  }

}

@media (max-width: 800px) {

  .skill img {
    width: 100px;
    height: 100px;
  }

  .intro-container {
    width: 60vw;
  }

}

@media (max-width: 570px) {

  .intro-container h1 {
    font-size: 40px;
  }

  .intro-container h2 {
    font-size: 35px;
  }

  .text-container-projects h2 {
    font-size: 30px;
  }

}

@media (max-width: 500px) {
  .nav-container {
    width: 50px;
  }

  .navbar {
    width: 50px;
    height: 400px;
  }

  .navbar-text {
    width: 130px;
    height: 40px;
    margin-bottom: 27px;
    font-size: 20px;
  }

  .navbar img {
    width: 40px;
    height: 40px;
  }

  .navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

  }

  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .text-container h2 {
    font-size: 30px;
  }

  .text-container p {
    font-size: 20px;
  }

  .picture-container {
    margin: 50px;
  }

  .skills-container {
    margin: 50px;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }

  .text-container-projects {
    width: 40vw;
  }

  .project-image-container {
    margin: 10px;
  }
}