@font-face {
  font-family: "DM Sans";
  src: url(../src/assets/fonts/DMSans_18pt-Light.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../src/assets/fonts/Quicksand-Regular.ttf);
}

:root {
  font-family: "DM Sans";
  line-height: 1.5;
  background-color: #F6ECE0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  line-height: 1.5;
}

.nav-container {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  float: right;
  height: 50vh;
  width: 70px;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F89A77;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 475px;
  position: fixed;
}

.navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 30px 0px 0px 30px;
  background: #1B1B1B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #EBEBEB;
  font-size: 24px;
  position: fixed;
}


.navbar img {
  width: 50px;
  height: 50px;
}

.navbar img:hover {
  cursor: pointer;
  zoom: 0.9;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  margin-top: 5px;

}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 5%;
  margin-top: 25vh;
  border-radius: 0px 30px 30px 0px;
  background: #1B1B1B;
  color: #EBEBEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.intro-container h1 {
  font-size: 64px;
  font-weight: 100;
  color: #F89A77;
  font-family: "Quicksand";
  margin: 0;
}

.intro-container h2 {
  font-weight: 100;
  font-size: 48px;
  margin: 0;
}


.text-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 5%;
  margin-top: 10vh;
  border-radius: 0px 30px 30px 0px;
  background: #1B1B1B;
  color: #EBEBEB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-container h2 {
  font-size: 40px;
  font-weight: 100;
  color: #F89A77;
  text-decoration: underline;
  text-decoration-color: #EBEBEB;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.text-container p {
  font-size: 24px;
  font-weight: 100;
}

@media (max-width: 1025px) {

  .intro-container h1 {
    font-size: 50px;
  }

  .intro-container h2 {
    font-size: 40px;
  }

  .intro-container {
    width: 50vw;
  }
}

@media (max-width: 570px) {

  .intro-container h1 {
    font-size: 30px;
  }

  .intro-container h2 {
    font-size: 24px;
  }

  .intro-container {
    width: 50vw;
  }

}

@media (max-width: 500px) {
  .nav-container {
    width: 50px;
  }

  .navbar {
    width: 50px;
    height: 420px;
  }

  .navbar-text {
    width: 130px;
    height: 40px;
    margin-bottom: 27px;
    font-size: 20px;
  }

  .navbar img {
    width: 40px;
    height: 40px;
  }

  .navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

  }

  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

}